<div class="max-w-xs mx-auto mt-10 sm:mt-40 px-3">
  <h2 class="text-xl text-center text-teal-600 font-bold">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em class="text-sm text-neutral-500">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="submit">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <div class="mt-5 text-center">
    <ul class="links">
      <li><%= link_to "Sign in", new_session_path(resource_name) %></li>
    </ul>
  </div>
</div>