%h2.text-xl.font-bold Sign up
= form_with(model: resource, local: true, url: registration_path(resource_name), class: "form") do |f|
  = render "layouts/errors", model: resource
  .form-group
    = f.label :first_name
    = f.text_field :first_name
  .form-group
    = f.label :last_name
    = f.text_field :last_name
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .form-group
    = f.label :password
    - if @minimum_password_length
      %em.text-neutral-500
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "new-password"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .form-actions
    = f.submit "Sign up", class: "link"
%hr.my-3
.link
  = render "devise/shared/links"
