.mb-5.flex.items-center
  = link_to user_path(current_user) do
    = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
  %h2.text-xl.font-bold New fixed cash flow
= form_with model: @fixed_cash_flow, class: "form"  do |f|
  .form-group
    = f.label :description
    = f.text_area :description
  .form-group
    = f.label :amount
    = f.number_field :amount, placeholder: 0.0, min: 1, step: 1
  .form-group
    = f.label :category
    = f.select :category, FixedCashFlow.categories.keys.map { |category| [category.humanize, category] }
  .form-actions
    = f.submit 'Add fixed cash flow', class: "link"