<p id="notice"><%= notice %></p>

<h1>My Folders</h1>

<% @groups.each do |group| %>
    <%= image_tag group.icon %>
    <%= group.name %>
    <%= group.created_at.strftime("%d-%b-%Y") %>
    <%= link_to 'Show', group %>
  <br/>
<% end %>

<br>

<%= link_to 'New Folder', new_group_path %>
