<p id="notice"><%= notice %></p>

<% @group.icon %>

<h1>Name: <%= @group.name %></h1>

<p><strong>Created On: </strong><%= @group.created_at.strftime("%d-%b-%Y") %></p>

<h3>Expenses:</h3>

<div>
  <% @expenses.each do |expense| %>
    <%= expense.folders.first.icon %>
    <span><strong>Name: <strong></span><%= link_to expense.name, expense %>
    <p><strong>Amount: </strong><%= expense.amount %></p>
    <p><strong>Created On: </strong><%= expense.created_at.strftime("%d-%b-%Y") %></p>
    <%= link_to "Delete From Folder", delete_from_group_path(expense_id: expense.id, group_id: @group.id), method: :delete %>
    <br/><br/><br/>
  <% end %>
</div>
<br/>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Delete', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New', new_group_path %> |
<%= link_to 'Back', groups_path %>
