<section>
  <div class="text-center blue-div">
    <h1 class="m-0"><%= @group.name %></h1>
  </div>
  <%= render 'layouts/notice_and_alerts'%>
  <div class="white-div reset-width text-right">
    <span class="pr-2"><strong>Expenses: </strong><%= @group.number_of_expenses %></span>
  </div>
</section>
<div class="pcon-4 pt-2">
  <table class="white-div">
    <tr>
      <td><%= image_tag @group.icon %></td>
      <td><strong>Created On: </strong>
        <span class="pr-1"><small class="date"><%= @group.created_at.strftime("%d-%b-%Y") %></small></span>
      </td>
    </tr>
  </table>
  <br/>
</div>
<% unless @group.expenses.empty? %>
  <div class="text-center"><h4 class="m-0">Expenses:</h4></div>
  <div class="pcon-4 pt-2">
    <% @expenses.each do |expense| %>
      <table class="white-div">
        <tr>
          <td><%= image_tag expense.folders.first.icon, class: "folder-icon" %></td>
          <td><span><%= expense.name %></span></td>
          <td><span><strong>Amount:</strong> $<%= expense.amount %></span></td>
          <td><span><strong class="d-none d-inline-block-4">
            Created On: </strong> <small class="date"><%= expense.created_at.strftime("%d-%b-%Y") %><small></span>
          </td>
        </tr>
      </table>
      <table class="white-div">
        <tr>
          <td><button class="green-button"><%= link_to 'View', expense %></button></td>
          <td>
            <button class="green-button">
              <%= link_to "Delete From #{@group.name}", delete_from_group_path(expense_id: expense.id, group_id: @group.id), method: :delete %>
            </button>
          </td>
          <td><span><strong>Created By: </strong> <%= expense.my_author %></span></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-between flex-column bottom-group">
  <button class="bottom-green-button-unfixed"><%= link_to 'Edit', edit_group_path(@group) %></button>
  <button class="bottom-green-button-unfixed"><%= link_to 'Delete', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <button class="bottom-green-button-unfixed"><%= link_to 'New', new_group_path %></button>
</div>
