.mb-5.flex.items-center
  = link_to root_path do
    = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
  %h2.text-xl.font-bold= current_user.full_name
%section.mt-3
  %h3.mb-1.font-bold Fixed cash flows
  %ul.flex.mb-3
    %li.link.mr-2
      = link_to "New fixed cash flow", new_fixed_cash_flow_path
  %table.main-table
    %thead
      %tr
        %th Description
        %th Amount
        %th Type
    %tbody
      - @fixed_cash_flows.each do |fcf|
        %tr
          %td= fcf.description
          %td.number{ class: fcf.income? ? "text-income" : "text-expense" }= number_to_currency(fcf.amount)
          %td{ class: fcf.income? ? "text-income" : "text-expense" }= fcf.category.titleize
