.mb-5.flex.items-center
  = link_to root_path do
    = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
  %h2.text-xl.font-bold= "#{@cycle.month_year_string}"
%section.mt-3
  %table.main-table
    %thead
      %tr
        %th Total income
        %th Total expenses
    %tbody
      %tr.text-center
        %td.text-income= number_to_currency(@total_income)
        %td.text-expense= number_to_currency(@total_expenses)
%section.mt-3
  %h3.mb-1.font-bold Expense limit
  = render "layouts/errors", model: @cycle
  = form_with model: @cycle, url: "/cycles/#{@cycle.id}/edit_expense_limit", class: "form", method: :patch do |f|
    .form-group
      = f.label :expense_limit
      = f.number_field :expense_limit, placeholder: 0.0, step: 0.10, value: @cycle.expense_limit
    .form-actions
      = f.submit 'Edit', class: "link"