%h2.text-2xl.font-bold= "#{@cycle.month_year_string}"
%nav
  %ul.flex.items-center
    %li
      = link_to "New income", new_cycle_income_path(@cycle), class: "link"
    %li.ml-2
      = link_to "New expense", new_cycle_expense_path(@cycle), class: "link"
    %li.ml-2
      %span.pr-1= "|"
      = link_to "Edit cycle", edit_cycle_path(@cycle), class: "link"
%section.mt-3
  %h3.mb-1.text-xl.font-bold Income
  = render "layouts/transactions_table", cycle: @cycle, transactions: @incomes
%section.mt-10
  %h3.mb-1.text-xl.font-bold Expenses
  = render "layouts/transactions_table", cycle: @cycle, transactions: @expenses 
%section.mt-10
  %h3.mb-1.text-xl.font-bold Total
  .mb-3
    %span.text-neutral-400.text-xs Expense limit
    .flex.items-center
      - if @cycle.expense_limit.zero?
        = image_tag "icons/alert-neutral.svg", alt: "alert", class: "icon-small"
        %span.ml-2.font-bold.text-neutral-400.line-through= number_to_currency(@cycle.expense_limit)
      - else
        = image_tag (@cycle.expense_limit < @total_expenses ? 'icons/alert-red.svg' : 'icons/alert-blue.svg'), alt: "alert", class: "icon-small"
        %span.ml-2.font-bold{ class: @cycle.expense_limit < @total_expenses ? 'text-expense' : 'text-income'}= number_to_currency(@cycle.expense_limit)
  %table.main-table
    %thead
      %tr
        %th Balance
        %th Income
        %th Expenses
    %tbody
      %tr.text-center
        %td.number{ style: "font-weight: 700;", class: @cycle.balance.positive? ? "text-income" : "text-expense"}= number_to_currency(@cycle.balance)
        %td.number.text-income= number_to_currency(@total_income)
        %td.number.text-expense= number_to_currency(@total_expenses)
