%h2.text-2xl.font-bold= "#{@current_cycle.month_string} #{@current_cycle.year}"
%ul.flex
  %li.link.mr-2
    = link_to "New income", new_cycle_income_path(@current_cycle.id)
  %li.link
    = link_to "New expense", new_cycle_expense_path(@current_cycle.id)
  %li.link.ml-2
    |
    = link_to "Edit cycle", new_cycle_expense_path(@current_cycle.id)
%section.mt-3
  %h3.mb-1.text-xl.font-bold Income
  %table.main-table
    %thead
      %tr
        %th Description
        %th Amount
        %th Date
    %tbody
      - @incomes.each do |income|
        %tr
          %td= income.description
          %td.number.text-income= number_to_currency(income.amount)
          %td.italic{ title: income.created_at.strftime('%m/%d/%Y') }= income.created_at.strftime('%a %d')
%section.mt-10
  %h3.mb-1.text-xl.font-bold Expenses
  %table.main-table
    %thead
      %tr
        %th Description
        %th Amount
        %th Date
    %tbody
      - @expenses.each do |expense|
        %tr
          %td{ class: "max-w-[10rem] break-words" }= expense.description
          %td.number.text-expense= number_to_currency(expense.amount)
          %td.italic{ title: expense.created_at.strftime('%m/%d/%Y') }= expense.created_at.strftime('%a %d')
%section.mt-10
  %h3.mb-1.text-xl.font-bold Total
  %table.main-table
    %thead
      %tr
        %th Balance
        %th Income
        %th Expenses
    %tbody
      %tr
        %td.number{ style: "font-weight: 700;", class: @current_cycle.balance.positive? ? "text-income" : "text-expense"}= number_to_currency(@current_cycle.balance)
        %td.number.text-income= number_to_currency(@total_income)
        %td.number.text-expense= number_to_currency(@total_expenses)
