%h2.text-2xl.font-bold= "#{@cycle.month_year_string}"
%ul.flex
  %li.link.mr-2
    = link_to "New income", new_cycle_income_path(@cycle)
  %li.link
    = link_to "New expense", new_cycle_expense_path(@cycle)
  %li.link.ml-2
    = link_to "Edit cycle", edit_cycle_path(@cycle)
%section.mt-3
  %h3.mb-1.text-xl.font-bold Income
  %table.main-table
    %thead
      %tr
        %th Description
        %th Amount
        %th Date
    %tbody
      - @incomes.each do |income|
        %tr
          %td
            .flex.items-center
              = link_to edit_cycle_income_path(@cycle, income) do
                = image_tag "icons/pencil.svg", alt: "edit", class: "icon-small"
              %span.pl-2= income.description
          %td.number.text-income= number_to_currency(income.amount)
          %td.italic.text-neutral-500{ title: income.created_at.strftime('%m/%d/%Y') }= income.created_at.strftime('%a %d')
%section.mt-10
  %h3.mb-1.text-xl.font-bold Expenses
  %table.main-table
    %thead
      %tr
        %th Description
        %th Amount
        %th Date
    %tbody
      - @expenses.each do |expense|
        %tr
          %td
            .flex.items-center
              = link_to edit_cycle_expense_path(@cycle, expense) do
                = image_tag "icons/pencil.svg", alt: "edit", class: "icon-small"
              %span.pl-2= expense.description
          %td.number.text-expense= number_to_currency(expense.amount)
          %td.italic{ title: expense.created_at.strftime('%m/%d/%Y') }= expense.created_at.strftime('%a %d')
%section.mt-10
  %h3.mb-1.text-xl.font-bold Total
  .mb-3
    %span.text-neutral-400.text-xs Expense limit
    .flex.items-center
      - if @cycle.expense_limit.zero?
        = image_tag "icons/alert-neutral.svg", alt: "alert", class: "icon-small"
        %span.ml-2.font-bold.text-neutral-400= number_to_currency(@cycle.expense_limit)
      - else
        = image_tag (@cycle.expense_limit < @total_expenses ? 'icons/alert-red.svg' : 'icons/alert-blue.svg'), alt: "alert", class: "icon-small"
        %span.ml-2.font-bold{ class: @cycle.expense_limit < @total_expenses ? 'text-expense' : 'text-income'}= number_to_currency(@cycle.expense_limit)
  %table.main-table
    %thead
      %tr
        %th Balance
        %th Income
        %th Expenses
    %tbody
      %tr.text-center
        %td.number{ style: "font-weight: 700;", class: @cycle.balance.positive? ? "text-income" : "text-expense"}= number_to_currency(@cycle.balance)
        %td.number.text-income= number_to_currency(@total_income)
        %td.number.text-expense= number_to_currency(@total_expenses)
