.mb-5.flex.items-center.justify-between
  .flex.items-center
    = link_to root_path do
      = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
    %h2.text-xl.font-bold New income
  - unless @income.id.nil?
    = button_to "Delete", cycle_income_path(@cycle, @income), method: :delete, class: "mt-1 link-delete"
= render "layouts/errors", model: @income
= form_with(model: [@cycle, @income], class: "form") do |f|
  .form-group
    = f.label :description
    = f.text_area :description
  .form-group
    = f.label :amount
    = f.number_field :amount, placeholder: 0.0, step: 0.01
  .form-actions
    = f.submit 'Submit', class: "link"
