<div class="text-center blue-div">
  <h2 class="m-0">Log In</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="pcon-4 pt-2">
    <table class="white-div">
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <% if devise_mapping.rememberable? %>
        <tr>
          <td><%= f.check_box :remember_me %></td>
          <td><%= f.label :remember_me %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div>
    <%= f.submit "Log in", class: "bottom-green-button submit" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
