.mb-5.flex.items-center.justify-between
  .flex.items-center
    = link_to user_path(current_user) do
      = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
    %h2.text-xl.font-bold New fixed transactions
  - unless @fixed_transaction.id.nil?
    = button_to "Delete", fixed_transaction_path(@fixed_transaction), method: :delete, class: "mt-1 link-delete"
= render "layouts/errors", model: @fixed_transaction
= form_with model: @fixed_transaction, class: "form"  do |f|
  .form-group
    = f.label :description
    = f.text_area :description
  .form-group
    = f.label :amount
    = f.number_field :amount, placeholder: 0.0, min: 1, step: 0.10
  .form-group
    = f.label :category
    = f.select :category, FixedTransaction.categories.keys.map { |category| [category.humanize, category] }
  .form-actions
    = f.submit 'Submit', class: "link"
