
<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation", class="alert">
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="pcon-4 pt-2">
  <table class="white-div">
    <tr>
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name, autofocus: true %></td>
    </tr>
    <tr>
      <td><%= form.label :amount %></td>
      <td><%= form.text_field :amount %></td>
    </tr>
  </table>
  </div>
  <%= form.submit 'Submit', class: "bottom-green-button submit" %>
<% end %>
