.mb-5.flex.items-center
  = link_to root_path do
    = image_tag "icons/arrow_left.svg", alt: "back", class: "icon mr-2"
  %h2.text-xl New expense
= form_with(model: [@cycle, @expense], class: "form") do |f|
  .form-group
    = f.label :description
    = f.text_area :description
  .form-group
    = f.label :amount
    = f.number_field :amount, placeholder: 0.0, min: 1, step: 1
  .form-actions
    = f.submit 'Add expense', class: "link"