<section>
  <div class="text-center blue-div">
    <h1 class="m-0"><%= @expense.name %></h1>
  </div>
  <%= render 'layouts/notice_and_alerts'%>
</section>
<div class="pcon-4 pt-2">
  <table class="white-div text-center">
    <tr>
      <th><span><strong>Amout:</strong></span></th>
      <th><span><strong>Description:</strong></span></th>
      <th><span><strong>Created On:</strong></span></th>
    </tr>
    <tr>
      <td><span>$<%= @expense.amount.round(2) %></span></td>
      <td><p class="m-0"><small class="date"><%= @expense.description %></small></p></td>
      <td><span class="pr-1"><small class="date"><%= @expense.created_at.strftime("%d-%b-%Y") %></small></span></td>
    </tr>
  </table>
  <br/>
</div>
<% unless @add_to_group_list.empty? %>
  <div class="text-center"><h4 class="m-0">Add To Group:</h4></div>
  <div class="pcon-4 pt-2 bottom-padding-3">
    <table class="white-div text-center">
      <% @add_to_group_list.each do |group| %>
        <tr>
          <td><%= image_tag group.icon, class: "folder-icon" %></td>
          <td><button class="green-button"><%= link_to "Add To #{group.name}", add_to_group_path(expense_id: @expense.id, group_id: group.id) %></button></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div class="d-flex justify-between flex-column bottom-group">
  <button class="bottom-green-button-unfixed"><%= link_to 'Edit', edit_expense_path(@expense) %></button>
  <button class="bottom-green-button-unfixed"><%= link_to 'Delete', expense_path(@expense), method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <button class="bottom-green-button-unfixed"><%= link_to 'New', new_expense_path %></button>
</div>
