!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Xpense
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    -# = stylesheet_link_tag "application"
  %body
    %header
      = render "layouts/navbar"
    %main{ class: "container mx-auto pb-96 px-2 sm:px-0" }
      = yield
