<div class="container max-h-96 sm:max-h-[30rem] overflow-y-scroll px-3 sm:px-0 mx-auto mt-12">
  <table class="w-full">
    <thead class="sticky top-0 bg-neutral-100">
      <tr>
        <th>Description</th>
        <th>Value</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td class="max-w-0 sm:max-w-sm truncate"><%= transaction.description %></td>
        <% if transaction.expense? %>
          <td class="expense"><%= format_value transaction.value %></td>
        <% else %>
          <td class="income"><%= format_value transaction.value %></td>
        <% end %>
        <td><%= transaction.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr class="container my-10 mx-auto" />
<div class="container mx-auto">
  <div class="px-3 sm:px-0 sm:max-w-xs">
    <%= render "transactions/form" %>
  </div>
</div>
