<div>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Value</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.description %></td>
        <% if transaction.expense? %>
          <td><%= format_value transaction.value %></td>
        <% else %>
          <td><%= format_value transaction.value %></td>
        <% end %>
        <td><%= transaction.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render "transactions/form" %>
</div>
